div.player {
    margin: 20px;
    padding: 40px;
    background-color: #0c5460;
}

div.scrollmenu {
    background-color: #1d428a;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}

